dist

# Logs
logs
*.log
.pnpm-debug.log

# Coverage directory used by tools like istanbul
coverage
*.lcov

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env*

# macOS
.DS_Store

.idea
